// ================================
//  Global Style
// ================================
*, 
*:after,
*:before 
	pd(0)
	mg(0)
	box-sizing: border-box


body 
	background-color: gray-dark
	color: font-color	
	font-family: arial