// ================================
//  Grid System
// ================================
.container 
	max-width: 960px
	margin-left: auto
	margin-right: auto
	position: relative 

	&:after 
			content: " "
			display: block
			clear: both 

.grid-1 
	width: 7.04225%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-2 
	width: 15.49296%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-3 
	width: 23.94366%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-4 
	width: 32.39437%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-5 
	width: 40.84507%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-6 
	width: 49.29577%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-7 
	width: 57.74648%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-8 
	width: 66.19718%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-9 
	width: 74.64789%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-10 
	width: 83.09859%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-11 
	width: 91.5493%
	float: left
	margin-right: 1.40845%
	margin: 1.40845% 0 

.grid-12 
	width: 100%
	float: left
	margin-left: 0
	margin-right: 0
	margin: 1.40845% 0 

@media only screen and (max-width: 425px) 
	[class*="grid-"] 
		width: 100%  

