mixin navbar(theme)
	-var menu = ['Item 1', 'Item 2', 'Item 3', 'Item 4']

	nav(class='nav-bar ' + theme)
		div(class='container')
			div(class='nav-bar__left')
				h1 Boilerplate

			div(class='nav-bar__right')
				ul(class='nav-bar__list')
					each menuItem in menu
						li(class='nav-bar__item'): a(href="#nowhere")= menuItem
					else
						li(class='nav-bar__item'): a(href="#nowhere") Home Page