.btn
	position: relative
	padding: 5px 15px
	font-size: 16px

	text-transform: uppercase
	text-decoration: none

	background-color: gray + 30%
	border: 0px solid transparent
	color: white
	
	transition: background 400ms ease
	
	&:hover
		background-color: gray + 10%
	
	&--blue
		background-color: blue + 30%
		color: white
		
		&:hover
			background-color: blue + 15%