// ================================
//  Mixins
// ================================
pd()
	padding: arguments
	
mg()
	margin: arguments
	
bg(color)
	background-color: color
	
radius()
	border-radius: arguments
	

media-querie($media) 
	if media == desktop
		@media only screen and (max-width: $bp-fullhd)  
			content 
	
	else if media == notebook
		@media only screen and (max-width: $bp-notebook)  
			content
	
	else if media == tablet
		@media only screen and (max-width: $bp-tablet)  
			content 
	
	else if media == mobile
		@media only screen and (max-width: $bp-mobile)  
			content 
	
	else if media == small
		@media only screen and (max-width: $bp-small)  
			content
	
