// ================================
//  Variables
// ================================
	
	// Colors
	black-color          = black + 5%
	gray-dark            = black + 15%
	font-color           = white - 15%
	red-light            = red + 25%
	purple               = blue + 35%

	// Fonts
	arial        = 'Arial', sans-serif
	
	// Directions
	t = top
	l = left
	b = bottom
	r = right