.nav-bar
	box-sizing: border-box
	background-color: white
	color: #000
	padding: 20px 10px
	text-transform: uppercase
	
	&__left,
	&__right
		display: inline-block
		width: 50%
		float: left
		
	&__left
		text-align: left

	&__right
		text-align: right
	
	&__list
		list-style: none
		
	&__item
		display: inline-block
		padding: 5px 15px		
		
		& a
			text-decoration: none
			color: #000