doctype html
html(lang='pt-br')

	head

		title PUG Boilerplate

		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no')

		link(rel='stylesheet', href='assets/stylesheet/application.css')

	body
		main
			//- Mixins
			include _mixins/button
			include _mixins/navigation

			//- Includes
			include _includes/navigation

			//- Views
			include _views/_section-one.pug

		script(src='assets/javascript/script.js')
		